*{
    font-family: "Lato", serif;
  font-style: normal;
}
.bg{
   background-color: rgba(229, 84, 115, 0.1);
}
header, main{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    gap: 97px;
}
.banner-title{
    font-weight: 800;
    font-size: 5rem;
    color: #272727;
    margin-bottom: 32px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.12rem;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}
.btn-primary{
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
}
.banner >img{
    width: 100%;
}
















@media screen and (max-width:576px) {
    .banner{
        flex-direction: column;
    }
}